<div style="text-align:center">
  <h1>
    Welcome to Client Manager!
  </h1>
</div>
<h3>Your Clients</h3>


<div class="grid grid-pad">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    <button type="button" class="btn btn-primary" (click)="addRecord();">Add</button>
  </mat-form-field>
  <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSource" class="table table-hover mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let dashboardClient"> {{dashboardClient.name}} </td>
      </ng-container>
      <ng-container matColumnDef="representative">
        <th mat-header-cell *matHeaderCellDef> Representative </th>
        <td mat-cell *matCellDef="let dashboardClient"> {{dashboardClient.representative}} </td>
      </ng-container>
      <ng-container matColumnDef="comodity">
        <th mat-header-cell *matHeaderCellDef> Comodity </th>
        <td mat-cell *matCellDef="let dashboardClient"> {{dashboardClient.comodity}} </td>
      </ng-container>
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef> Start Date </th>
        <td mat-cell *matCellDef="let dashboardClient"> {{dashboardClient.startDate}} </td>
      </ng-container>
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef> End Date </th>
        <td mat-cell *matCellDef="let dashboardClient"> {{dashboardClient.endDate}} </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let dashboardClient"> {{dashboardClient.price}} </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>